page-profile {
    #profilePic{
        
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 50px;
    
        border: 2px solid #fff;
        
        box-shadow: 0 0 5px gray;
     
    }
    #name-text{
        text-align: center;
    }
    .custom-icon {
        font-size: 35px;
        padding-left: 3px;
      }
      #profileOptions{
          background-color:rgb(117, 162, 230); 
      }
      ion-title{
        text-align: center;
        color: black;
        }
    
        .bg{
             
            
             background-size: cover;
           
            background-position: center center;
        }
        .main-cnt{
            width: 100%;
            height: 900px;
            padding:20px;
            background-color: black;
            
        }
        
        ion-list ion-item{
            color:red;
            background-color: #ecf0f1;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    
    }
    