page-events {
    #datetable{
        margin:auto;
        
            }
            #dateheader{
                background: white;
                width: 100%;
                height: 50px;
            }
            .main-content{
                margin-top: 55px;
                    }
}
